h2{

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
}

p{
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

a{
  display: block;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
  color:var(--secondary-green-1);
}
