<div class="md:mt-12 box">
  <div class="grid md:ml-12 md:mt-18 md:grid-cols-5">
    <h2>Employees</h2>
    <button class="btn btn-primary md:col-start-4" [routerLink]="['/employees', 'new']">Invite employees</button>
  </div>
  <div class="grid md:grid-cols-12 md:mt-8">
    <div *ngFor="let employee of employees" class="col-span-3 sm:mb-4">
      <app-avatar [image]="employee.image" [name]="employee.name"></app-avatar>
      <p>{{employee.name}}</p>
      <a [routerLink]="['/employees', employee.id]">View more</a>
    </div>

  </div>
</div>
