<app-button-primary text="End phase"
                    style="margin-right:1rem;"
                    buttonColor="var(--red)"
                    buttonTextColor="var(--white)"
                    buttonBorderColor="var(--red)"
                    [disabled]="isButtonDisabled"
                    (click)="activeObject()">
</app-button-primary>

<div class="popup-container" *ngIf="popupVisible">
  <div class="popup-content">
    <div class="popup-header">
      <h2>WARNING</h2>
    </div>
    <div class="popup-body">
      <br>
      <p style="text-align: center;">{{ popupText }}</p>
      <h5>This operation is irreversible</h5>
    </div>
    <div class="popup-footer">
      <app-button-primary text="Yes, finish it"
                          buttonColor="var(--red)"
                          buttonTextColor="var(--white)"
                          buttonBorderColor="var(--red)"
                          (click)="closePopupEnd()"
                          [useStepperNext]="true"
      >
      </app-button-primary>
      <app-button-primary style="margin:1.5rem;"
                          text=" Cancel"
                          buttonColor="var(--gray-2)"
                          buttonTextColor="var(--primary-white)"
                          buttonBorderColor="var(--gray-2)"
                          (click)="closePopup()"
      ></app-button-primary>
    </div>
  </div>
</div>


