<div>
  <div class="md:ml-6 md:mr-12">
    <app-information [value]=business.name [type]="'text'" [field]="'Business name'"></app-information>
    <a class="link-color" href=""> Change name</a>
    <hr class="division">

    <app-information [value]=business.ruc [type]="'text'" [field]="'RUC'"></app-information>
    <a class="link-color" href=""> View organization</a>
    <hr class="division">

    <span class="fields-text"> Organization</span>
    <br>
    <a class="delete" href="#">Delete organization</a>

  </div>
</div>
