.button-primary {
  display: inline-flex;
  padding: 0 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border-style: solid;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: var(--font-primary);
}

button {
  padding: 25px 25px;
  border-style: solid;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--normal-text-regular-size);
}
