<nav class="header relative flex flex-wrap items-center justify-between pt-3 mb-3">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
      <a class="font-bold leading-relaxed flex mr-4 py-2 whitespace-nowrap" href="/">
          <mat-icon><img alt="greenhouse" src="../../../../assets/logo-white.png" height="40" width="40"></mat-icon>
          <p>Greenhouse</p>
      </a>
      <button class="cursor-pointer leading-none rounded block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center leading-snug cursor:pointer">
            <span class="ml-2 flex"><p>{{"EN"}}</p><i class="material-icons">keyboard_arrow_down</i></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center font-bold leading-snug">
            <span class="ml-2 flex" routerLink="/organization">
              <img class="w-7 h-7 rounded-full border-2 border-b-white mr-2" [src]="" alt="Organization avatar">
              <p>{{"Organization"}}</p></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center font-bold leading-snug">
            <span class="ml-2 flex" routerLink="/profile">
              <img class="w-7 h-7 rounded-full border-2 border-b-white mr-2" [src]="" alt="Profile avatar">
              <p>{{"Profile"}}</p></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
