<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon><img alt="greenhouse" src="../../../../assets/logo-white.png" height="30" width="30"></mat-icon>
    </button>
    <h1>Greenhouse</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <h1>EN</h1>
    </button>
    <button mat-icon-button>
      <mat-icon><img alt="greenhouse" src="../../../../assets/logo-white.png" height="30" width="30"></mat-icon>
    </button>
    <h1>enterprise_name</h1>
    <button mat-icon-button>
      <mat-icon><img alt="greenhouse" src="../../../../assets/logo-white.png" height="30" width="30"></mat-icon>
    </button>
    <h1>username</h1>
  </mat-toolbar-row>
</mat-toolbar>
