.header {
  background: inherit;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--primary-green);
  color: var(--white);
  font-family: var(--font-primary);
  font-size: var(--medium-text-regular-size);
}

p {
  font-size: var(--medium-text-regular-size);
  color: var(--white);
}
