<mat-toolbar color="primary">
  <button mat-button class="logo">
    <img alt="greenhouse" src="assets/logo-white.png" height="30" width="30">
    <span class="greenhouse">Greenhouse</span>
  </button>
  <button mat-button>
    Panel de control
  </button>
  <button mat-button>
    Cultivos
  </button>
  <span class="example-spacer"></span>
  <button mat-button>
    ES
  </button>
  <button mat-button>
    <img [alt]="" [src]="">
    <span>enterprise_name</span>
  </button>
  <button mat-button>
    <img [alt]="" [src]="">
    <span>username</span>
  </button>
</mat-toolbar>
