<h1 mat-dialog-title>Create new record</h1>
<mat-form-field>
  Author: <input matInput [(ngModel)]="author" placeholder="Author">
</mat-form-field>
<mat-form-field>
  Day: <input matInput [(ngModel)]="day" placeholder="Day">
</mat-form-field>
<mat-form-field>
  Date: <input matInput [(ngModel)]="date" placeholder="Date">
</mat-form-field>
<mat-form-field>
  Time <input matInput [(ngModel)]="time" placeholder="Time">
</mat-form-field>
<mat-form-field>
  Grow room: <input matInput [(ngModel)]="growRoom" placeholder="Grow room">
</mat-form-field>
<mat-form-field>
  Air Temperature: <input matInput [(ngModel)]="airTemperature" placeholder="Air Temperature">
</mat-form-field>
<mat-form-field>
  Compost Temperature: <input matInput [(ngModel)]="compostTemperature" placeholder="Compost Temperature">
</mat-form-field>
<mat-form-field>
  CO2:<input matInput [(ngModel)]="co2" placeholder="CO2">
</mat-form-field>
<mat-form-field>
  H2: <input matInput [(ngModel)]="h2" placeholder="H2">
</mat-form-field>
<mat-form-field>
  Setting: <input matInput [(ngModel)]="setting" placeholder="Setting">
</mat-form-field>
<mat-form-field>
  Comment: <input matInput [(ngModel)]="comment" placeholder="Comment">
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="author">Save</button>
</div>
