<div class="max-w-xl mx-auto">
  <mat-card class="card py-5 px-2 md:px-5">
    <mat-card-content>
      <div class="mb-3 text-center md:text-left">
        <h2>Welcome to Greenhouse</h2>
        <p>To use the application, please login or register a company</p>
      </div>
      <div class="flex mb-5 justify-content-center md:justify-content-start">
        <div class="state-color active-label">
          <input id="login" type="radio" name="login-signup">
          <div class="mr-5">
            <label class="cursor-pointer" for="login">Login</label>
          </div>
        </div>
        <div class="state-color">
          <input id="signup" type="radio" name="login-signup">
          <div>
            <label class="cursor-pointer" for="signup">Register a company</label>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
