<div class="overflow-scroll">
  <mat-form-field>
    <mat-label>Filter records</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search entry" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table mb-5">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{column.header}}
      </th>
      <td mat-cell *matCellDef="let row">
        {{column.cell(row)}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<div class="button-group">
  <app-button-primary text=" + Create new record"
                      buttonColor="#F4F5F9"
                      buttonTextColor="var(--primary-green)"
                      buttonBorderColor="var(--primary-green)"
  ></app-button-primary>
  <app-popup-warning *ngIf="step !== '4.4'" [phase]="phase" [cropId]="cropId"></app-popup-warning>
  <app-popup-crop-finished *ngIf="step === '4.4'" [cropId]="cropId"></app-popup-crop-finished>
</div>
