<div class="mx-auto">
  <mat-card class="card md:px-5">
    <mat-card-content>
      <div class="lg:flex">
        <div class="lg:w-1/2 text-center align-content-center mb-5 md:mr-5">
          <p class="font-bold text-4xl mb-4">{{ 'company_profile.my_company' | translate }}</p>
          <div class="flex items-center justify-center mb-2">
            <img class="rounded-full w-56 h-56" alt="avatar" src="{{company.image}}">
          </div>
          <a class="text-blue-500 text-sm underline">{{ 'company_profile.change_profile_picture' | translate }}</a>
        </div>
        <div class="lg:w-full p-1 md:pt-6">
          <div>
            <div class="mb-5">
              <div class="flex items-baseline">
                <p class="text-xl font-bold pr-4">{{ 'company_profile.company_name' | translate }}:</p>
                <p class="text-sm overflow-ellipsis">{{ company.company_name }}</p>
              </div>
              <a class="text-blue-500 text-sm underline">{{ 'company_profile.change_company_name' | translate }}</a>
              <hr class="division">
            </div>
            <div class="mb-5">
              <div class="flex items-baseline">
                <p class="text-xl font-bold pr-4">{{ 'company_profile.ruc' | translate }}:</p>
                <p class="text-sm overflow-ellipsis">{{ company.ruc }}</p>
              </div>
              <a class="text-blue-500 text-sm underline">{{ 'company_profile.change_ruc' | translate }}</a>
              <hr class="division">
            </div>
            <div class="mb-5">
              <div class="flex items-baseline">
                <p class="text-xl font-bold">{{ 'company_profile.company' | translate }}:</p>
              </div>
              <a class="text-red-500 text-sm underline">{{ 'company_profile.delete_company' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>
      <div class="p-4 text-center">
        <p class="font-bold text-4xl mb-4">{{ 'company_profile.employees' | translate }}</p>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="flex flex-col md:flex-row justify-between text-center mb-5">
        <mat-form-field class="w-full md:w-1/2">
          <mat-label>{{ 'company_profile.search' | translate }}</mat-label>
          <input matInput>
        </mat-form-field>
        <app-button-primary
          text="{{'company_profile.invite_employee' | translate}}"
          buttonColor="var(--secondary-green-1)"
          buttonTextColor="var(--primary-white)"
          buttonBorderColor="var(--secondary-green-1)">
        </app-button-primary>
      </div>
      <div class="text-center flex justify-center flex-wrap">
        <div *ngFor="let employee of employees" class="flex flex-column text-center mx-2">
          <div class="items-center flex-grow mx-4 my-5">
            <img class="flex-grow rounded-full w-36 h-36" alt="avatar" src="{{employee.image}}">
            <p>{{employee.first_name}} {{employee.last_name}}</p>
            <a class="underline" routerLink="/profile">{{ 'company_profile.view_more' | translate }}</a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
