mat-card {
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

mat-card-title {
  background-color: var(--primary-green);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h2, h4 {
  font-family: var(--font-primary);
  font-weight: bold;
}

h2 {
  color: var(--black);
  font-size: var(--heading-1-size);
  line-height: 49px;
}

h4 {
  color: var(--secondary-green-1);
  font-size: var(--heading-4-size);
  line-height: 25px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: transparent !important;
  color: var(--white) !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-floating-label {
  color: var(--white) !important;
}




