.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: relative;
  background-color: var(--white);
  border-radius: 25px;
  text-align: center;
  padding-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.popup-header {
  background-color: var(--secondary-green-1);
  text-align: center;
  padding: 15px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.popup-header h2 {
  color: white;
  margin: 0;
}
