<mat-card class="card">
  <mat-horizontal-stepper [linear]="false" selectedIndex="{{activeStep}}">
    <ng-template matStepperIcon="done" let-index="index">
      {{ calculateStepperLabel(index) }}
    </ng-template>
    <ng-template matStepperIcon="number" let-index="index">
      {{ calculateStepperLabel(index) }}
    </ng-template>
    <mat-step *ngFor="let phase of phases; let index = index" [editable]="false">
      <ng-template matStepLabel><span class="stepper-label">{{ 'crop.' + phase.translate.toLowerCase() | translate }}</span></ng-template>
      <h2>{{'crop.records_of_crop' | translate}} {{ cropId }}, {{'crop.started_on' | translate}} {{ date }}</h2>
      <div>
        <app-process-table [processType]="phase.endpoint" [phase]="nextStep" [cropId]="cropId" [step]="phase.message" [stepNumber]="phase.label"></app-process-table>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>

