<app-button-primary [text]="'crop.end_phase' | translate"
                    style="margin-right:1rem;"
                    buttonColor="var(--red)"
                    buttonTextColor="var(--white)"
                    buttonBorderColor="var(--red)"
                    (click)="activeObjectPopUpCropFinished()">
</app-button-primary>

<div class="popup-container-2" *ngIf="popupVisible">
  <div class="popup-content-2">
    <div class="popup-header-2">
      <h2 class="uppercase">{{'pop-up.warning' | translate}}</h2>
    </div>
    <div class="popup-body-2">
      <br>
      <p class="text-center;">{{'pop-up.confirm_end_phase' | translate}}</p>
      <h5 class="text-gray-600">{{'pop-up.irreversible' | translate}}</h5>
    </div>
    <div class="popup-footer-2">
      <app-button-primary [text]="'pop-up.confirm' | translate"
                          buttonColor="var(--red)"
                          buttonTextColor="var(--white)"
                          buttonBorderColor="var(--red)"
                          (click)="activeObjectNotificationFinished()"
                          [useStepperNext]="true">
      </app-button-primary>
      <app-button-primary style="margin:1.5rem;"
                          [text]="'pop-up.cancel' | translate"
                          buttonColor="var(--gray-2)"
                          buttonTextColor="var(--primary-white)"
                          buttonBorderColor="var(--gray-2)"
                          (click)="closePopUpCropFinished()"
      ></app-button-primary>
    </div>
  </div>
</div>


<div class="popup-container" *ngIf="notificationVisible">
  <div class="popup-content">
    <div class="popup-header">
      <h2>{{'pop-up.crop_finished'}}</h2>
    </div>
    <div class="popup-body">
      <br>
      <p class="text-center;">{{'pop-up.the_crop_started_on'}}{{date_start | date:'medium'}} {{'pop-up.has_completed_all_phases' | translate}}</p>
    </div>
    <div class="popup-footer">
      <app-button-primary style="margin:1.5rem;"
                          [text]="'pop-up.confirm' | translate"
                          buttonColor="var(--secondary-green-1)"
                          buttonTextColor="var(--primary-white)"
                          buttonBorderColor="var(--secondary-green-1)"
                          (click)="closePopUpCropFinished()"
                          routerLink="/dashboard"
      ></app-button-primary>
    </div>
  </div>
</div>





