<div class="md:mt-12 box">
  <h2>Dashboard</h2>
  <div class="grid md:grid-cols-12 gap-4 justify-items-center">
    <app-dashboard-card class="col-span-3" [image]="'assets/dashboard/process-state.png'" [buttonText]="'Harvesting in progress'" [link]="'/process-log'"></app-dashboard-card>
    <app-dashboard-card class="col-span-3" [image]="'assets/dashboard/enterprise.png'" [buttonText]="'My organization'" [link]="'/process-log'"></app-dashboard-card>
    <app-dashboard-card class="col-span-3" [image]="'assets/dashboard/reports.png'" [buttonText]="'Statistical reports'" [link]="'/process-log'"></app-dashboard-card>
    <app-dashboard-card class="col-span-3" [image]="'assets/dashboard/history.png'" [buttonText]="'Harvest archive'" [link]="'/process-log'"></app-dashboard-card>

  </div>
</div>

