.division{
  border-top: 1px solid var(--primary-green);
  margin-bottom: 8px;
  margin-top: 8px;
}

.link-color{
  color:var(--secondary-green-1);
}

.delete{
  color: var(--red);
}

.fields-text{
  font-weight: var(--normal-text-regular-size);
}

a {
  font-family: var(--font-primary);
  font-weight: var(--normal-text-regular-size);
  text-decoration: underline;
}
