<div class="max-w-xl mx-auto select-none">
  <mat-card class="card py-5 px-2 md:px-5">
    <mat-card-content>
      <div class="mb-5 text-center md:text-left">
        <h2>Welcome to Greenhouse</h2>
        <p>To use the application, please login or register a company</p>
      </div>
      <div class="flex mb-5 justify-content-center md:justify-content-start">
        <div class="state-color">
          <div class="mx-5">
            <p class="cursor-pointer" routerLink="/login">{{ 'login-signup.login' | translate }}</p>
          </div>
        </div>
        <div class="state-color active-label">
          <div class="mx-5">
            <p class="cursor-pointer" routerLink="/signup">{{ 'login-signup.signup' | translate }}</p>
          </div>
        </div>
      </div>

      <form>
        <div>
          <mat-form-field class="mb-3 example-full-width">
            <input matInput name="ruc" required [(ngModel)]="company">
            <mat-label>{{ 'login-signup.company_name' | translate }}</mat-label>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="mb-3 example-full-width">
            <input matInput name="ruc" required [(ngModel)]="ruc">
            <mat-label>{{ 'login-signup.ruc' | translate }}</mat-label>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="mb-3 example-full-width">
            <input matInput type="email" name="email" required
                   [(ngModel)]="email">
            <mat-label>{{ 'login-signup.email' | translate }}</mat-label>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="mb-3 example-full-width">
            <input matInput name="firstName" required [(ngModel)]="firstName">
            <mat-label>{{ 'login-signup.first_name' | translate }}</mat-label>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="mb-3 example-full-width">
            <input matInput name="lastName" required [(ngModel)]="lastName">
            <mat-label>{{ 'login-signup.last_name' | translate }}</mat-label>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="mb-3 example-full-width">
            <input matInput type="password" name="password" required [(ngModel)]="password">
            <mat-label>{{ 'login-signup.password' | translate }}</mat-label>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="mb-3 example-full-width">
            <input matInput type="password" name="passwordConfirm" required [(ngModel)]="passwordConfirm">
            <mat-label>{{ 'login-signup.password_confirm' | translate }}</mat-label>
          </mat-form-field>
        </div>

        <mat-checkbox class="mb-3 text-sm" [(ngModel)]="acceptedPrivacyPolicy" color="primary"
                      [style.color]="acceptedPrivacyPolicy ? 'var(--primary-green)' : ''">
          {{ 'login-signup.agree_with_terms' | translate }} <a
          class="text-blue-500 text-sm underline"> {{'login-signup.terms_and_conditions' | translate }} </a>
          {{'login-signup.and' | translate }} <a
          class="text-blue-500 text-sm underline"> {{'login-signup.privacy_policy' | translate }} </a>
        </mat-checkbox>

        <div class="text-center mb-5">
          <app-button-primary
            [text]="'login-signup.signup' | translate"
            [buttonColor]="'var(--primary-green)'"
            [buttonTextColor]="'var(--primary-white)'"
            [buttonBorderColor]="'var(--primary-green)'"
            [type]="'button'"
            (click)="onSubmit()">
          </app-button-primary>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
