* {
  font-family: var(--font-primary);
}

table th {
  background-color: var(--primary-green);
  color: var(--white);
  font-size: var(--normal-text-regular-size);
  font-weight: bold;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: transparent !important;
  color: var(--black) !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-floating-label {
  color: var(--black) !important;
}

.button-group {
  padding: 0;
  flex-shrink: 1;
  text-align: left;
}

/* Estilo del cuadro de diálogo */
.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.dialog-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Clase para mostrar el cuadro de diálogo */
.show-dialog {
  display: flex;
}

